.bundle/
unprocessed_records.csv
tmp/
db/seed_data/*.txt
*.swp
log/*.log
*.gem
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/config/database.yml
Gemfile.lock
.DS_Store
